

@media (min-width: 1200px) {
  .swiper {
    z-index: none;
    display: block;
    width: 100%;
    height: 820px;
    margin-top: 0; 
    padding-top: 0;
  }
}

/* Para telas médias */
@media (min-width: 768px) and (max-width: 1199px) {
  .swiper {
    width: 100%;
    height: 900px;
    margin-top: 0; 
    padding-top: 0;
  }
}

/* Para telas pequenas */
@media (max-width: 767px) {
  .swiper {

    width: 100%;
    height: 500px;
    margin-top: 0; 
    padding-top: 0;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background:  var(--Principal-Cinza, #6B7280);

}

.swiper-pagination-bullet-active {
  color: #fff;
  background: white;
}
